/* color pallette
 * #1a0c1b
 * #200f21
 * #382039
 * #5a3d5c
 * #f638dc
*/

:root {
  --ff-title: 'Rajdhani', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --ff-text: 'Rajdhani', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: var(--ff-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #120813;
  font-weight: 400;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
  letter-spacing: -0.025rem;
}

body.block-scroll {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.a11y-hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
figure {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Rajdhani";
  src: url("/static/fonts/Rajdhani-Bold.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("/static/fonts/Rajdhani-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("/static/fonts/Rajdhani-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("/static/fonts/Rajdhani-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("/static/fonts/Rajdhani-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("/static/fonts/Rajdhani-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}